<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student Details</h5>
          <p class="card-text">ID: <span id="student-id"></span></p>
          <p class="card-text">First Name:
            <span id="student-first-name"></span></p>
          <p class="card-text">Last Name:
            <span id="student-last-name"></span></p>
          <p class="card-text">Email: <span id="student-email"></span></p>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and st-dash.js -->
    <script src="/js/st-dash.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    
  </body>
</html>